<div>
    <strong class="titre">Nom:</strong> <p class="value">{{ app.user.name }}</p>
</div>
<div>
    <strong class="titre">Description:</strong> <p class="value">{{ app.user.description }}</p>
</div>
<div>
    <strong class="titre">Adresse:</strong> <p class="value">{{ app.user.adress }}</p>
</div>
<div>
    <strong class="titre">Code postal:</strong> <p class="value">{{ app.user.postalcode }}</p>
</div>
<div>
    <strong class="titre">Ville:</strong> <p class="value">{{ app.user.city }}</p>
</div>
<div>
    <strong class="titre">Pays:</strong> <p class="value">{{ app.user.country }}</p>
</div>
<div>
    <strong class="titre">Téléphone:</strong> <p class="value">{{ app.user.phone }}</p>
</div>
<div>
    <strong class="titre">Lien du site web:</strong> <p class="value">{{ app.user.urlwebsite }}</p>
</div>