{% extends 'base.html.twig' %}

{% block title %}Modifier son mot de passe - Yabonlapub{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/login.css")}}">
{% endblock %}

{% block body %}
<div class="content">
    {{ form_start(modifPasswordForm) }}
        <h3>Modifier son mot de passe</h3>
        {{ form_errors(modifPasswordForm) }}

        <strong>Ancien mot de passe :</strong>
        {{ form_widget(modifPasswordForm.oldPassword, {'attr': {'placeholder': 'Entrez votre ancien mot de passe', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.oldPassword) }}
        <img class="oeil1" src={{asset('/img/oeil_barre.png')}} width="20px" onclick="togglePasswordVisibility1()">

        <strong>Nouveau mot de passe :</strong>
        {{ form_widget(modifPasswordForm.newPassword, {'attr': {'placeholder': 'Entrez votre nouveau mot de passe', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.newPassword) }}
        <img class="oeil2" src={{asset('/img/oeil_barre.png')}} width="20px" onclick="togglePasswordVisibility2()">

        <strong>Confirmer le nouveau mot de passe :</strong>
        {{ form_widget(modifPasswordForm.confirmPassword, {'attr': {'placeholder': 'Confirmez votre nouveau mot de passe', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.confirmPassword) }}
        <img class="oeil3" src={{asset('/img/oeil_barre.png')}} width="20px" onclick="togglePasswordVisibility3()">
        
        <button class="register" type="submit">Confirmer</button>
        <button class="login" onclick="window.location.href='{{ path("app_modif_user") }}'">Retour</button>
    {{ form_end(modifPasswordForm) }}
</div>
<script>
    function togglePasswordVisibility1() {
        var passwordInput = document.getElementById('modif_password_oldPassword');
        var togglePasswordButton = document.querySelector('.oeil1');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordButton.src = '{{asset('/img/oeil.png')}}';
        } else {
            passwordInput.type = 'password';
            togglePasswordButton.src = '{{asset('/img/oeil_barre.png')}}';
        }
    }
    function togglePasswordVisibility2() {
        var passwordInput = document.getElementById('modif_password_newPassword');
        var togglePasswordButton = document.querySelector('.oeil2');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordButton.src = '{{asset('/img/oeil.png')}}';
        } else {
            passwordInput.type = 'password';
            togglePasswordButton.src = '{{asset('/img/oeil_barre.png')}}';
        }
    }
    function togglePasswordVisibility3() {
        var passwordInput = document.getElementById('modif_password_confirmPassword');
        var togglePasswordButton = document.querySelector('.oeil3');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordButton.src = '{{asset('/img/oeil.png')}}';
        } else {
            passwordInput.type = 'password';
            togglePasswordButton.src = '{{asset('/img/oeil_barre.png')}}';
        }
    }
</script>
{% endblock %}
