{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations - Yabonlapub{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/login.css")}}">
{% endblock %}

{% block body %}
<div class="content">
    {{ form_start(modifUserCoordForm) }}
        <h3>Modifier mes informations</h3>
        <table>
            {% for item in modifUserCoordForm %}
                {% if item.vars.label %}
                    <tr>
                        <td class="titre">
                        <label><strong>{{ item.vars.label }} :</strong></label>
                        </td>
                        <td class="value">
                        {{ form_widget(item, {'attr': {'required': false, 'placeholder': 'Non défini', 'class': 'form-control'}}) }}
                        {{ form_errors(item) }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {#<tr>
                <td class="titre">
                <label><strong>Identifiant :</strong></label>
                </td>
                <td class="value">
                {{ form_widget(modifUserCoordForm.login, {'attr': {'required': true, 'placeholder': 'Identifiant*', 'class': 'form-control'}}) }}
                {{ form_errors(modifUserCoordForm.login) }}
                </td>
            </tr>
            <tr>
                <td class="titre">
                <label><strong>Email :</strong></label>
                </td>
                <td class="value">
                {{ form_widget(modifUserCoordForm.email, {'attr': {'required': true, 'placeholder': 'Email*', 'class': 'form-control'}}) }}
                {{ form_errors(modifUserCoordForm.email) }}
                </td>
            </tr>#}
        </table>
        <button class="register" type="submit">Sauvegarder mes coordonnées</button>
        <button class="login" id="returnButton" type="button">Retour</button>
    {{ form_end(modifUserCoordForm) }}

    <script>
        document.getElementById('returnButton').addEventListener('click', function() {
            window.location.href = '{{ path("app_modif_user") }}';
        });
    </script>
</div>
{% endblock %}

