<div id="header" class="header">
    <a href="{{ path("app_accueil")}}"><img src={{asset('/img/logo1.png')}} alt="logo Yabonlapub" width="60px"/></a>
    <a href="{{ path("app_accueil")}}"><h1>Yabonlapub</h1></a>
    <div>
        <a href=""><img src={{asset('/img/proprietaire.png')}} alt="logo profil" width="50px"/></a>
        <a href="{{ path("app_accueil")}}"><h3>Particulier</h3></a>
    </div>
    <div>
        <a href=""><img src={{asset('/img/association.png')}} alt="logo profil" width="50px"/></a>
        <a href="{{ path("app_accueil")}}"><h3>Association</h3></a>
    </div>
    <div>
        <a href=""><img src={{asset('/img/mecene.png')}} alt="logo profil" width="50px"/></a>
        <a href="{{ path("app_accueil")}}"><h3>Mécène</h3></a>
    </div>
    {% if app.user %}
        <div>
            <a href=""><img src={{asset('/img/bonhomme.png')}} alt="logo profil" width="50px"/></a>
            <a href="{{ path("app_accueil")}}"><h3>Particulier</h3></a>
        </div>
    {% else %}
        <div>
            <a href="{{ path("inscription")}}"><img src={{asset('/img/bonhomme1.png')}} alt="logo connexion" width="50px"/></a>
            <a href="{{ path("inscription")}}"><h3>Connexion</h3></a>
        </div>
    {% endif %}
</div>
<hr>